@import "footer"

$nav-height: 64px
$nav-logo-height: 80px
$nav-logo-offset: ($nav-height - ($nav-logo-height / 2))

html
  font-family: arial, sans-serif
  text-align: center

.mdl-layout__header
  background: white
  color: darken(rgb(0, 210, 169), 5%)
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3)

.mdl-layout__drawer-button
  display: flex
  justify-content: center
  align-items: center

  i
    color: darken(rgb(0, 210, 169), 5%)
    font-size: 1.2em


.mdl-layout__header-row .mdl-navigation__link
  color: darken(rgb(0, 210, 169), 5%)
  text-transform: uppercase
  font-weight: normal
  font-size: 1.2em

.mdl-layout__drawer
  text-align: left

.primary_action
  background: #e25d5d
  padding: 12px
  border-radius: 30px
  color: white
  text-decoration: none
  text-transform: uppercase
  font-weight: normal
  font-size: 1.2em
  transition: all 200ms ease-in-out

  &:hover
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3)
    padding: 15px
    margin-left: -4.5px
    margin-right: -4.5px
    font-size: 1.25em

.nav-logo
  height: $nav-logo-height
  position: absolute
  margin: 0px
  left: 80px
  top: $nav-logo-offset
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5))

body
  padding: 0
  margin: 0
  min-height: 100vh

h1
  text-align: center

h2
  text-align: center

.wrap
  margin: auto
  margin-top: 70px
  padding: 16px
  width: 70%
  font-weight: bold
  color: rgb(65, 93, 104)

.profile-image
  height: 40px
  width: 40px
  border-radius: 50%
  display: inline

  &:hover
    filter: brightness(90%)
