@import "nav"

html
  font-family: arial, sans-serif

body
  padding: 0
  margin: 0

h1
  text-align: center

.wrap
  margin: auto
  margin-top: 50px
  padding: 16px
  width: 70%
  font-weight: bold
  color: rgb(65, 93, 104)
