@import "index"
@import "footer"
$box-padding: 3%

body
  background-image: url('./images/iphone.jpg')
  background-size: cover

nav
  box-shadow: 5px 5px 30px #000

.nav-logo
  filter: drop-shadow(5px 5px 10px #000)

form
  text-align: center

p
  margin-top: 15
  font-size: 11px
  color: black

a
  color: blue

input
  margin: auto
  display: block
  margin-bottom: 30px
  margin-top: -10px
  background: darken(#fff, 20%)
  color: white
  border: none
  border-radius: 100px
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 14px
  padding-right: 14px

::placeholder
  color: white
  text-transform: uppercase

.button
  margin: auto
  font-size: 14px
  width: 30px
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 14px
  padding-right: 14px
  color: white
  background-color: blue
  border-radius: 200px
  text-transform: uppercase

.button-wrap
  margin: auto

.sign_in_wrap
  top: 25%
  position: relative
  margin: auto
  background-color: white
  width: 20%
  border-radius: 8px
  padding-top: $box-padding
  padding-bottom: $box-padding
