//output:../../footer.html
.footer
  .content
    p
      a(href="/about") About
      |   |  
      a(href="/sign-in") Sign In
      |   |  
      a(href="/sign-up") Sign Up 
      .copyright Copyright (c) 2018 Bully Blocker All Rights Reserved.
