//output:../../sidenav.html
.sidenav
  a (href="javascript:void(0)", class="closebtn", onclick="closeNav()") &times 
  a (href="#") social
  a (href="#") tools
  a (href="/about") about
  
span (onclick="openNav()") open

  
