//output:../../nav.html
nav
  ul.nav-items
    li
      img.nav-logo(src="static/icons/logo.png")
    li
      a.flat-button(href="/feed") Feed
    li 
      a.flat-button(href="#") Sign out
    li
      img.profile-image(src="static/icons/blank-profile.png")
        
