
<html>
  <head>
    <link rel="stylesheet" href="./static/index.min.css"/>
    <title>Feed</title>
  </head>
  <body>
    <!--output:../../nav.html-->
    <nav>
      <ul class="nav-items">
        <li><img src="static/icons/logo.png" class="nav-logo"/></li>
        <li> <a href="/" class="flat-button">Home</a></li>
        <li> <a href="sign_in" class="flat-button">Sign In</a></li>
      </ul>
    </nav>
    <div class="wrap">
      <h1>Feed</h1><img src="./static/images/sign-in.jpg" height="1000%" width="70%px" style="margin:auto"/>
    </div>
    <div class="footer">
      <div class="content">
        <p><a href="/about">about</a></p>
      </div>
    </div>
  </body>
</html>