
<html>
  <head>
    <link rel="stylesheet" href="./static/feed.min.css"/>
    <title>Feed</title>
  </head>
  <body>
    <!--output:../../nav.html-->
    <nav>
      <ul class="nav-items">
        <li><img src="static/icons/logo.png" class="nav-logo"/></li>
        <li> <a href="/" class="flat-button">Home</a></li>
        <li> <a href="sign_in" class="flat-button">Sign In</a></li>
      </ul>
    </nav>
    <div class="wrap">
      <h1>Feed</h1>
      <div class="post row">
        <div class="post-margin col col--2-of-16"><img src="{{ profile_pic }}" class="profile-img"/></div>
        <div class="post-body col col--14-of-16">
          <div class="head">
            <p class="profile-name">{{ name }}</p><br/>
            <p class="date">{{ date }}</p>
          </div>
          <p>{{ body }}<!--<a href="/"> http://t.co/aJhd8ds3fjH</a>--></p>
          <img src="./static/images/sign-in.jpg" class="post-img"/>
        </div>
      </div>
    </div>
    <!--output:../../footer.html-->
    <div class="footer">
      <div class="content">
        <p><a href="/about">About</a>  |  <a href="/index">Home</a>  |  <a href="/sign-up">Sign Up </a>
          <div class="copyright">Copyright (c) 2018 Bully Blocker All Rights Reserved.</div>
        </p>
      </div>
    </div>
  </body>
</html>
