
<html>
  <head>
    <link rel="stylesheet" href="./static/index.min.css"/>
    <title>Generate Password</title>
  </head>
  <body>
    <!--output:../../nav.html-->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row"><img src="static/icons/logo.png" class="nav-logo"/>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation"><a href="/about" class="mdl-navigation__link">About</a><a href="/sign-in" class="mdl-navigation__link">Sign In</a><a href="/sign-up" class="primary_action">Sign Up</a></nav>
      </div>
    </header>
    <div class="mdl-layout__drawer"><span class="mdl-layout-title">Bully Blocker</span>
      <nav class="mdl-navigation"><a href="/settings" class="mdl-navigation__link"> <i class="material-icons">settings</i>Settings</a><a href="/logout" class="mdl-navigation__link"><i class="material-icons">logout</i>Logout</a><a href="" class="mdl-navigation__link">Link</a><a href="" class="mdl-navigation__link">Link</a></nav>
    </div>
    <div class="button-wrap"><a href="#" class="button">Generate</a></div>
    <!--output:../../footer.html-->
    <div class="footer">
      <div class="content">
        <p><a href="/about">About</a>  |  <a href="/index">Home</a>  |  <a href="/sign-in">Sign In</a>  | <a href="/sign-up">Sign Up </a>
          <div class="copyright">Copyright (c) 2018 Bully Blocker All Rights Reserved.</div>
        </p>
      </div>
    </div>
  </body>
</html>