
<html>
  <head>
    <link rel="stylesheet" href="./static/index.min.css"/>
    <title>Cyber Bullying</title>
  </head>
  <body></body>
  <nav>
    <ul class="nav-items">
      <li><img src="static/icons/logo.png" class="nav-logo"/></li>
      <li> <a class="flat-button">Home</a></li>
      <li> <a href="sign_in" class="flat-button">Sign In</a></li>
    </ul>
  </nav>
  <div class="wrap">
    <h1>Join The Fight Against Cyber Bullying!</h1>
    <p>Bully Blocker is the home for all of your of social media's. Stay safe online at the same time as chatting with all your freinds</p><img src="./static/images/sign-in.jpg" height="1000%" width="70%px" style="margin:auto"/>
  </div>
  <div class="footer">
    <div class="content">
      <p><a href="#">about</a></p>
    </div>
  </div>
</html>