
<html>
  <head>
    <script language="javascript" type="text/javascript" src="./static/p5/p5.js"></script>
    <script language="javascript" type="text/javascript" src="./static/SteeringBehaviours/sketch.js"></script>
    <script language="javascript" type="text/javascript" src="./static/SteeringBehaviours/vehicle.js"></script>
    <link rel="stylesheet" href="./static/index.min.css"/>
    <title>Bully Blocker</title>
  </head>
  <body>
    <!--output:../../nav.html-->
    <nav>
      <ul class="nav-items">
        <li><img src="static/icons/logo.png" class="nav-logo"/></li>
        <li> <a href="/" class="flat-button">Home</a></li>
        <li> <a href="sign-in" class="flat-button">Sign In</a></li>
        <li><a href="/feed" class="flat-button">Feed</a></li>
      </ul>
    </nav>
    <div class="wrap">
      <div id="title"></div>
      <h1>Welcome to bully blocker!</h1>
      <h2>Bully blocker integrates all of your social medias whilst keeping you safe online. With a user chosen threshold you can decide what you want to see. Feel safer than ever online with Bully blocker.</h2><img src="./static/images/sign-in.jpg" width="100%" height="auto" style="margin:auto"/>
    </div>
    <!--output:../../footer.html-->
    <div class="footer">
      <div class="content">
        <p><a href="/about">About</a>  |  <a href="/index">Home</a>  |  <a href="/sign-in">Sign In</a>  | <a href="/sign-up">Sign Up </a>
          <div class="copyright">Copyright (c) 2018 Bully Blocker All Rights Reserved.</div>
        </p>
      </div>
    </div>
  </body>
</html>