
<html>
  <head>
    <title>Feed</title>
    <link rel="stylesheet" href="./static/loading.min.css"/>
    <script src="./static/js/loading-feed.js"></script>
  </head>
  <body>
    <div id="wrap"> 
      <!-- Change this later-->
      <div id="loading-center">
        <div id="loading-center-absolute">
          <div id="object_four" class="object"></div>
          <div id="object_three" class="object"></div>
          <div id="object_two" class="object"></div>
          <div id="object_one" class="object"></div>
        </div>
      </div>
    </div>
    <div id="foot">     
      <p>Bully Blocker is still in beta. Please allow up to 30 seconds for feed to load.</p>
    </div>
  </body>
</html>