
<html>
  <head>
    <link rel="stylesheet" href="./static/setup.min.css"/>
  </head>
  <body><a href="/"><img src="static/icons/logo.png" class="logo"/></a>
    <div class="wrap">
      <h1>Choose a social media to get started</h1>
      <ul class="card-list"><a href="/twitter_auth">
          <li class="card"><img src="static/icons/twitter.png" class="social-logo"/>
            <p>twitter</p>
          </li></a><a href="/">
          <li class="card"> <img src="static/icons/facebook.png" class="social-logo"/>
            <p>facebook</p>
          </li></a></ul>
    </div>
  </body>
</html>