
<html>
  <head>
    <link rel="stylesheet" href="./static/sign-in.min.css"/>
    <title>Sign In | Bully Blocker</title>
  </head>
  <body>
    <!--output:../../nav.html-->
    <nav>
      <ul class="nav-items">
        <li><img src="static/icons/logo.png" class="nav-logo"/></li>
        <li> <a href="/" class="flat-button">Home</a></li>
        <li> <a href="sign_in" class="flat-button">Sign In</a></li>
        <li><a href="/feed" class="flat-button">Feed</a></li>
      </ul>
    </nav>
    <div class="sign_in_wrap">
      <h1>Sign Up</h1>
      <form id="form" action="/sign_up" method="post">
        <input placeholder="username" name="username"/>
        <input placeholder="email" name="email"/>
        <input placeholder="password" type="password" name="password"/>
        <input placeholder="confirm password" type="password" name="password-confirm"/>
        <div class="button-wrap"><a href="javascript:{}" onclick="document.getElementById('form').submit(); return false;" class="button">Sign Up</a></div>
        <p> <a href="/sign_in">Already have an account?</a></p>
      </form>
    </div>
  </body>
</html>