
<html>
  <head>
    <link rel="stylesheet" href="./static/sign-in.min.css"/>
    <title>Sign In | Bully Blocker</title>
  </head>
  <body></body>
  <nav>
    <ul class="nav-items">
      <li><img src="static/icons/logo.png" class="nav-logo"/></li>
      <li> <a href="/" class="flat-button">Home</a></li>
      <li> <a href="/sign-in" class="flat-button">Sign In</a></li>
    </ul>
  </nav>
  <div class="sign_in_wrap">
    <h1>Sign In</h1>
    <form>
      <input placeholder="username"/>
      <input placeholder="password" type="password"/>
      <div class="button-wrap"><a type="submit" class="button">Sign In</a></div>
    </form>
  </div>
</html>