
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="./static/mdl/material-design-lite.min.css"/>
    <script defer="defer" src="./static/mdl/material.js"></script>
    <link rel="stylesheet" href="./static/feed.min.css"/>
    <title>Feed</title>
  </head>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--output:../../signed-in-nav.html-->
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row"><img src="static/icons/logo.png" class="nav-logo"/>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation"><a href="/about" class="mdl-navigation__link">About</a><a href="/logout" class="mdl-navigation__link">Sign out </a><a href="/profile" class="mdl-navigation__link"><img src="static/icons/blank-profile.png" width="40px" style="border-radius: 50%; margin-right: 10px" class="profile-image"/></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer"><span class="mdl-layout-title">Bully Blocker</span>
      <nav class="mdl-navigation"><a href="/settings" class="mdl-navigation__link"> <span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">settings</i> Settings</span></a><a href="/logout" class="mdl-navigation__link"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">power_settings_new</i> Logout</span></a><a href="" class="mdl-navigation__link"><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-icon">person</i> Profile</span></a></nav>
    </div>
    <main class="mdl-layout__content">
      <button onclick="javascript:window.location.href='/twitter-post'" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button>
      <div class="wrap">
        {% for tweet in tweets %}
        {% if not tweet.block %}
        <div class="post row"> 
          <div class="post-margin col col--2-of-16"><img src="{{ tweet.profile_pic }}" class="profile-img"/></div>
          <div class="post-body col col--14-of-16">
            <div class="head">
              <p class="profile-name">{{ tweet.username }}</p><br/>
              <p class="date">{{ tweet.date }}</p>
            </div>
            <p>{{ tweet.body }}</p>
            <div class="graph cf">
              <div class="ext {{ tweet.overall }}">
                <div style="width: {{ 100 - (tweet.moderation.offensive * 100) }}%" class="bar"></div>
              </div>
            </div>{% if tweet.pics|length > 0 %}
            {% for pic in tweet.pics %}<img src="{{ pic }}" class="post-img"/>{% endfor %}
            {% endif %}
            {% if tweet.is_video %}
            <p class="message">The image above is supposed to be a video but Twitter does not give Bully Blocker access to this functionality. To see the video visit this link:&nbsp;<br/><a href="{{ tweet.link }}">{{ tweet.link }}</a></p>{% else %}
            <p class="message">To see this tweet on twitter click&nbsp;<a href="{{ tweet.link }}" target="_blank">here</a></p>{% endif %}
            <p class="message">Web-E thinks this post {{ tweet.moderation.rating }} If you think otherwise, please click <a href="./update-prefs?type='not_blocked'&amp;rating='{{ tweet.moderation.offensive }}'">here</a></p>
          </div>
        </div>{% else %}
        <div class="post row">
          <div class="post-body"></div>
          <p>This post has been blocked because it {{ tweet.moderation.rating }}</p>
          <p>If you think this post is not what we have predicted please cick here.</p>
          <p>If you actually want to see this sort of post click<a href="./update-prefs?type='blocked'&amp;author='{{ tweet.username }}'&amp;rating='{{ tweet.moderation.offensive }}">here</a></p>
        </div>{% endif %}
        {% endfor %}
      </div>
      <!--output:../../footer.html-->
      <div class="footer">
        <div class="content">
          <p><a href="/about">About</a>  |  <a href="/index">Home</a>  |  <a href="/sign-in">Sign In</a>  | <a href="/sign-up">Sign Up </a>
            <div class="copyright">Copyright (c) 2018 Bully Blocker All Rights Reserved.</div>
          </p>
        </div>
      </div>
    </main>
  </div>
</html>