//output:../about.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title About
  body
  nav
    ul.nav-items
      li
        img.nav-logo(src="static/icons/logo.png")
      li 
        a.flat-button(href="/") Home
      li 
        a.flat-button(href="sign_in") Sign In
  .wrap
    h1 About the product
    p our sevice is to get the best out of social media at the same time as staying safe and raising awarness of cyber bullying
  .footer
    .content
      p
        a(href="/about") about
