//output:../about.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title About
  body
    include ./components/nav.jade
    .wrap
      h1 About the product
      p our sevice is to get the best out of social media at the same time as staying safe and raising awarness of cyber bullying
    include ./components/footer.jade
