//output:../about.html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./static/mdl/material.min.css")
    script(defer, src="./static/mdl/material.min.js")
    link(rel="stylesheet", href="./static/index.min.css")
    link(rel="stylesheet", href="./static/about.min.css")
    title About
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/nav.jade
    main.mdl-layout__content
      .wrap
        h3 About the product
        p Our sevice was created to get the best out of social media at the same time as staying safe and raising awarness about cyber bullying.
        h3 Creators
        p Created by Rohan Van Klinken and Joshua Whitmore.
      include ./components/footer.jade
