//output:../feed.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title Feed
  body
    include ./components/nav.jade
    .wrap
      h1 Feed
      img(src="./static/images/sign-in.jpg", height="1000%", width="70%px", style="margin:auto")
    .footer
      .content
        p
          a(href="/about") about
