//output:../feed.html
html
  head
    link(rel="stylesheet", href="./static/feed.min.css")
    title Feed
  body
    include ./components/signed-in-nav.jade
    .wrap
      .menu
        span.option
          img(src="./static/icons/facebook.png")
          | Facebook 
        span.option
          img(src="./static/icons/twitter.png")
          | Twitter
      {% for tweet in tweets %}
      .post.row 
        .post-margin.col.col--2-of-16
          img.profile-img(src="{{ tweet.profile_pic }}")
        .post-body.col.col--14-of-16
          .head
            p.profile-name {{ tweet.username }}
            br
            p.date {{ tweet.date }}
          p {{ tweet.body }}
          .graph.cf
            .ext(class="{{ tweet.overall }}")
              .bar(style="width: {{ tweet.rating }}%")
          img.post-img(src="./static/images/sign-in.jpg")
      {% endfor %}
    include ./components/footer.jade
