//output:../generate-password.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title Generate Password
  body
    include ./components/nav.jade
    
    .button-wrap
      a.button(href="#") Generate
    
    include ./components/footer.jade
      
