//output:../index.html
html
  head
    script(language="javascript", type="text/javascript", src="./static/p5/p5.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/sketch.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/vehicle.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./static/mdl/material.min.css")
    script(defer, src="./static/mdl/material.min.js")
    link(rel="stylesheet", href="./static/index.min.css")
    title Bully Blocker
    
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/nav.jade
    main.mdl-layout__content
      .wrap
        #title
        h4 Bully Blocker integrates all of your social medias whilst keeping you safe online. With a user chosen threshold you can decide what you want to see. Feel safer than ever online with Bully blocker.
        h6 Bully Blocker is still in beta and was optimised for a 13 inch screen. Anything smaller will most likely have problems on some pages. Bully Blocker has been tested and does not work on phones.
        .heros
          .profile_wrap
            .content
              p 
                img(src="./static/heroes/pics/PNG/AntiBullyGirl.png", align="left")
                h5 Anti-Bully Girl
                | Anti-Bully Girl is a member of the cybersafety heroes and will help you stay safe online by moderating what you see.
                br
                | Her special power is the thumbs-up badge on her costume. It encourages others to treat people respectfully and reminds those being bullied that there is always someone who can help.
                br
                | The feisty Anti-Bully Girl fights against cyberbullying. She’s not afraid to stand up to the cyberbullies who post nasty stuff online.
                br
                | Motto: "Stand up to cyberbullies."
          .profile_wrap
            .content
              p 
                img(src="./static/heroes/pics/PNG/WebE.png", align="right")
                h5 Web-E
                | Web-E is the Leader of the cybersafety heroes and will help you become a better person online.
                br
                | His power is a huge, all-seeing, camera eye means he knows what photos and messages we are sharing online and whether they are appropriate.
                br
                | He’s young and funky but takes his job seriously. He knows how to have fun online but realises what goes online, stays online... forever.
                br
                | Motto: "Think before you post."
       include ./components/footer.jade
