//output:../index.html
doctype html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title Bully Blocker
  body
    include ./components/nav.jade
    .wrap
      h1 Join The Fight Against Cyber Bullying!
      p Bully Blocker is the home for all of your of social media's. Stay safe online at the same time as chatting with all your freinds
      img(src="./static/images/sign-in.jpg", height="10000px", width="100%", style="margin:auto")
    include ./components/footer.jade
