//output:../index.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title Cyber Bullying
  body
  nav
    ul.nav-items
      li
        img.nav-logo(src="static/icons/logo.png")
      li 
        a.flat-button Home
      li 
        a.flat-button(href="sign-in") Sign In
  .wrap
    h1 Join The Fight Against Cyber Bullying!
    p Bullying is bad
