//output:../index.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    title Cyber Bullying
  body
  nav
    ul.nav-items
      li
        img.nav-logo(src="static/icons/logo.png")
      li 
        a.flat-button Home
      li 
        a.flat-button(href="sign_in") Sign In
  .wrap
    h1 Join The Fight Against Cyber Bullying!
    p Bully Blocker is the home for all of your of social media's. Stay safe online at the same time as chatting with all your freinds
    img(src="./static/images/sign-in.jpg", height="1000%", width="70%px", style="margin:auto")
  .footer
    .content
      p
        a(href="/about") about
