//output:../index.html
html
  head
    script(language="javascript", type="text/javascript", src="./static/p5/p5.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/sketch.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/vehicle.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./static/mdl/material.min.css")
    script(defer, src="./static/mdl/material.min.js")
    link(rel="stylesheet", href="./static/index.min.css")
    title Bully Blocker
    
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/nav.jade
    main.mdl-layout__content
      .wrap
        #title
        h1 Welcome to bully blocker!
        h2 Bully blocker integrates all of your social medias whilst keeping you safe online. With a user chosen threshold you can decide what you want to see. Feel safer than ever online with Bully blocker.
      include ./components/footer.jade
