//output:../index.html
html
  head
    script(language="javascript", type="text/javascript", src="./static/p5/p5.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/sketch.js")
    script(language="javascript", type="text/javascript", src="./static/SteeringBehaviours/vehicle.js")
    link(rel="stylesheet", href="./static/index.min.css")
    title Bully Blocker
  body
    include ./components/nav.jade
    .wrap
      #title
      h1 Welcome to bully blocker!
      h2 Bully blocker integrates all of your social medias whilst keeping you safe online. With a user chosen threshold you can decide what you want to see. Feel safer than ever online with Bully blocker.
      img(src="./static/images/sign-in.jpg", width="100%", height="auto", style="margin:auto")
    include ./components/footer.jade
