//output:../loading-feed.html
html
  head
    title Feed
    link(rel="stylesheet", href="./static/loading.min.css")
    script(src="./static/js/loading-feed.js")

  body
    #wrap 
      // Change this later
      div#loading-center
        div#loading-center-absolute
          div.object#object_four
          div.object#object_three
          div.object#object_two
          div.object#object_one
    
    #foot      
      p Bully Blocker is still in beta. Please allow up to 15 seconds for feed to load.
