//output:../password-strength.html
html
  head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js")
    link(rel="stylesheet", href="../static/password-strength.min.css")
  body
    include ./components/nav.jade
    .wrap
      label(for="password") Enter password:
      br
      input(type="password", id="password", required)
      meter(max="4" id="password-strength-meter")
      p(id="password-strength-text")
    include ./components/footer.jade
    script(src="./static/js/strength.js")
