//output:../sentiment-indicator.html
html
  head
    link(rel="stylesheet", href="./static/index.min.css")
    link(rel="stylesheet", href="./static/pos-neg-bar-graph.min.css")
    title Sentiment Indicator
  body
    .wrap
      .graph.cf
        .ext.neg
          .bar(style="width: 100%")
