//output:../settings.html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")
    link(rel="stylesheet", href="./static/settings.min.css")
    title Settings
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/signed-in-nav.jade
    main.mdl-layout__content
      .wrap
        h1 Settings
        span Dark Theme
          label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect(for="switch-2")
            input.mdl-switch__input(type="checkbox", id="switch-2")
            span.mdl-switch__label
      include ./components/footer.jade
