//output:../settings.html
html
  head
    link(rel="stylesheet", href="./static/settings.min.css")
    title Settings
  body
    include ./components/signed-in-nav.jade
    .wrap
      h1 Settings
    include ./components/footer.jade
