//output:../sign-in.html
html
  head
    link(rel="stylesheet", href="./static/sign-in.min.css")
    title Sign In | Bully Blocker
  body
    include ./components/nav.jade
    .sign_in_wrap
      h1 Sign In
      form
        input(placeholder="username")
        input(placeholder="password", type="password")
        div.button-wrap
          a.button(type="submit", href="/sign-") Sign In
        p 
          a(href="/sign_up") Don't have an account?
      
      
