//output:../sign-in.html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    script(defer, src="https://code.getmdl.io/1.3.0/material.min.js")
    script(defer, src="./static/js/sign-in.js")
    link(rel="stylesheet", href="./static/sign-in.min.css")
    title Sign In | Bully Blocker
  body
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/nav.jade
    main.mdl-layout__content
      .sign_in_wrap
        h1 Sign In
        form(id="form", action="/sign-in", method="post")
          input(placeholder="email", name="email", id="email")
          input.last-input(placeholder="password", type="password", name="password", id="password")
          p#error {{ err }} 
          div.button-wrap
            a.button(href="javascript:{}", onclick="submit(); return false;") Sign In
          p.link-container 
            a(href="/sign-up") Don't have an account?
      
      
