//output:../sign-up.html
html
  head
    link(rel="stylesheet", href="./static/sign-in.min.css")
    title Sign In | Bully Blocker
  body
    include ./components/nav.jade
    .sign_in_wrap
      h1 Sign Up
      form(id="form", action="/sign_up", method="post")
        input(placeholder="username", name="username")
        input(placeholder="email", name="email")
        input(placeholder="password", type="password", name="password")
        input(placeholder="confirm password", type="password", name="password-confirm")
        div.button-wrap
          a.button(href="javascript:{}", onclick="document.getElementById('form').submit(); return false;") Sign Up
        p 
          a(href="/sign_in") Already have an account?
