//output:../sign-up.html
html
  head
    link(rel="stylesheet", href="./static/sign-in.min.css")
    title Sign In | Bully Blocker
  body
    include ./components/nav.jade
    .sign_in_wrap
      h1 Sign Up
      form
        input(placeholder="username")
        input(placeholder="email")
        input(placeholder="password", type="password")
        input(placeholder="confirm password", type+"password")
        div.button-wrap
          a.button(type="submit") Sign Up
        p 
          a(href="/sign_in") Already have an account?
