//output:../twitter-feed.html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="./static/mdl/material-design-lite.min.css")
    script(defer, src="./static/mdl/material.js")
    link(rel="stylesheet", href="./static/feed.min.css")
    title Feed
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/nav.jade
    main.mdl-layout__content
      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(onclick="javascript:window.location.href='/twitter-post'")
        i.material-icons add
      .wrap
        {% for tweet in tweets %}
        .post.row 
          .post-margin.col.col--2-of-16
            img.profile-img(src="{{ tweet.profile_pic }}")
          .post-body.col.col--14-of-16
            .head
              p.profile-name {{ tweet.username }}
              br
              p.date {{ tweet.date }}
            p {{ tweet.body }}
            .graph.cf
              .ext(class="{{ tweet.overall }}")
                .bar(style="width: {{ tweet.rating }}%")
            {% if tweet.pics|length > 0 %}
            {% for pic in tweet.pics %}
            img.post-img(src="{{ pic }}")
            {% endfor %}
            {% endif %}
        {% endfor %}
      include ./components/footer.jade
