//output:../twitter-feed.html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet", href="./static/mdl/material-design-lite.min.css")
    script(defer, src="./static/mdl/material.js")
    link(rel="stylesheet", href="./static/feed.min.css")
    title Feed
  div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    include ./components/signed-in-nav.jade
    main.mdl-layout__content
      button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(onclick="javascript:window.location.href='/twitter-post'")
        i.material-icons add
      .wrap
        {% for tweet in tweets %}
        {% if not tweet.block %}
        .post.row 
          .post-margin.col.col--2-of-16
            img.profile-img(src="{{ tweet.profile_pic }}")
          .post-body.col.col--14-of-16
            .head
              p.profile-name {{ tweet.username }}
              br
              p.date {{ tweet.date }}
            p {{ tweet.body }}
            
            div.w3-round-xlarge(style="width: 75%; background-color: #e0e0e0;")
              div.w3-container.w3-round-xlarge(style="width:{{ tweet.moderation.percent }}%; padding-top:5px; padding-bottom:5px; font-size:12px; background-color:#e25d5d;")

            {% if tweet.pics|length > 0 %}
            {% for pic in tweet.pics %}
            img.post-img(src="{{ pic }}")
            {% endfor %}
            {% endif %}
            {% if tweet.is_video %}
            p.message The image above is supposed to be a video but Twitter does not give Bully Blocker access to this functionality. To see the video visit this link:&nbsp;
              br
              a(href="{{ tweet.link }}") {{ tweet.link }}
            {% else %}
            p.message To see this tweet on twitter click&nbsp;
              a(href="{{ tweet.link }}", target="_blank") here
            {% endif %}
            p.message Web-E thinks this post {{ tweet.moderation.rating }} If you think otherwise, please click 
              a(href="./update-prefs?type='not_blocked'&rating='{{ tweet.moderation.offensive }}'") here
        {% else %}
        .post.row
          .post-body
          p This post has been blocked because it {{ tweet.moderation.rating }}
          p If you think this post is not what we have predicted please cick here.
          p If you actually want to see this sort of post click
            a(href="./update-prefs?type='blocked'&author='{{ tweet.username }}'&rating='{{ tweet.moderation.offensive }}") here
        {% endif %}
        {% endfor %}
      include ./components/footer.jade
